html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
}

header .container {
  display: flex;
  justify-content: space-between;
  height: 4.1875rem;
  margin-top: 1.25rem;
}

.container {
  width: 23.4375rem;
  border: 1px solid #C6C6C6;
  margin: 0 auto;
}

#header-logo {
  padding: 0 1rem;
}

#user-avatar {
  padding: 0 1rem;
}

.icon-avatar {
  width: 2.125rem;
  border-radius: 50%;
  margin: auto 0;
}