html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  background-color: #C6C6C6;
}

/* typography */

.text-callout {
  font-size: 0.8125rem;
  font-weight: 700;
  margin-right: .2rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  border-bottom: 1px solid #C6C6C6;
}

.container {
  width: 23.4375rem;
  margin: 0 auto;
  font-size: 0.8125rem;
  background-color: #fff;
}

#header-logo {
  width: 7.9375rem;
  padding: 0 1rem;
}

#user-avatar {
  padding: 0 1rem;
}

.icon-avatar {
  width: 2.125rem;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.post-header {
  display: flex;
  gap: 0.45rem;
  padding: 0.62rem;
}

.location {
  display: block;
}

.post-image {
  width: inherit;
  cursor: pointer;
}

.post-footer {
  padding-bottom: 1rem;
  margin-bottom: 1.56rem;
}

.post-icons {
  display: flex;
  gap: .5rem;
  padding-left: .62rem;
}

.icons {
  width: 2rem;
  cursor: pointer;
}

.comment {
  display: block;
  margin: 0 .81rem;
}